:root {
    --backgroud: wheat;
    --mainColor: orange;
    --maimColor2: darkorange;
    --sectioColor: rgb(255, 210, 61);
    --formColor:  rgb(247, 255, 139);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: calc(12px + 0.5vw);
    color: black;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--backgroud);
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mainColor);
    position: fixed;
    width: 100vw;
    height: 7vh;
    min-height: 20px;
    z-index: 10;
}
nav a {
    color: black;
    text-decoration: none;
    text-align: center;
    line-height: 7vh;
    height: 7vh;
    min-height: 20px;
    width: 8vw;
    min-width: 8vw;
}
nav a:hover{
    animation: navAmin 0.3s ease-in-out 0s 1 normal forwards;
}
@keyframes navAmin {
    0% {background-color: orange;}
    100% {background-color: darkorange;}
}
.mainDiv {
    position: relative;
}
.mainDiv img {
    width: 100%;
}
.mainDiv h1{ 
    position: absolute;
    top: 40%;
    left: 10vw;
    font-size: 7vw;
    animation: h1Anim 2s linear 0s infinite normal forwards;
}
@keyframes h1Anim {
    0% { font-size: 7vw; }
    50% { font-size: 8vw; }
    100% { font-size: 7vw; }
}
main {
    display: flex;
    flex-direction: column;
}
main section{
   margin: 30px 50px;
   background-color: var(--sectioColor);
}
section h1{
    margin-left: 20px;
    font-size: 2vw;
}
#omnie > *{
    margin-left: 20px;
}
form{
    display: flex;
    flex-direction: column;
}
form span {
    font-weight: 700;
}
form > *{
    margin-left: 20px;
}
.formBtn > *{
    height: 5vh;
    width: 5vw;
    min-height: 50px;
    min-width: 70px;
    margin-bottom: 10px;
}
input.inp{
    width: 400px;
    height: 40px;
    padding-left: 10px;
}
textarea{ 
    width: 400px;
    height: 200px;
    padding: 10px;
}
